<section class="container mt-5">
  <h1>Edit Property</h1>

  <%= form_with(model: @property, local: true, html: { multipart: true }) do |form| %>
    <div class="row">
      <div class="col-md-6">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :location %>
        <%= form.text_field :location, class: 'form-control' %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <%= form.label :price %>
        <%= form.number_field :price, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :images %>
        <%= form.file_field :images, class: 'form-control', multiple: true %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <%= form.submit 'Update Property', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</section>
