<section class="container mt-5">
  <h1><%= @agent.name %></h1>
  
  <% if @agent.photo.attached? %>
    <%= image_tag @agent.photo.variant(resize_to_limit: [300, 300]).processed, class: 'img-fluid' %>
  <% end %>

  <h3>Contact Information</h3>
  <p><%= @agent.contact_information %></p>

  <h3>Listings</h3>
  <div class="row">
    <% @agent.properties.each do |property| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <% if property.images.attached? %>
            <%= image_tag property.images.first.variant(resize_to_limit: [300, 300]).processed, class: 'card-img-top' %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= property.name %></h5>
            <p class="card-text">$<%= property.price %> - <%= property.location %></p>
            <%= link_to 'View Details', property_path(property), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>