<h1>Add New Property</h1>

<%= form_with model: @property, url: admin_properties_path, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, class: 'form-control' %>
  </div>

  <%= form.submit 'Create Property', class: 'btn btn-success' %>
<% end %>
